.navbar {
  padding: 5pt;
  padding-left: 2pt;
  border-right: 2px solid #dddddd;
  display: flex;
  flex-direction: column;
  flex-basis: 256px;
  background-color: #fcfcfc;
  gap: 16px;

  overflow-x: hidden;
  overflow-y: scroll;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-element {
  margin-left: 10pt;
}

.selected {
  background-color: #f4e727; /* WYSI */
  border-radius: 5pt;
  width: calc(100%-50px);
}

.nav-icon {
  width: 22pt;
}

.nav-element {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10pt;
}

.nav-footer {
  bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 16px;
  padding: 10px;

  box-shadow: var(--burger-shadow) var(--burger-shadow) var(--burger-shadow)
    rgba(0.5, 0.5, 0.5, 0.2);

  gap: 5px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.copyright {
  justify-self: center;
}

.username {
  font-weight: 600;
  font-size: 14pt;
}

.user-pfp > img {
  width: 100px;
  border-radius: 50px;
}

.logotype {
  font-weight: 700;
  font-size: 18px;
}

.logotype > span {
  color: #ff0808;
}
