.navbar {
  padding: 5pt;
  padding-left: 2pt;
  border-right: 2px solid #dddddd;
  display: flex;
  flex-direction: column;
  flex-basis: 256px;
  background-color: #fcfcfc;

  position: sticky;
  top: 0;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-element {
  margin-left: 10pt;
}

.selected {
  background-color: #f4e727; /* WYSI */
  border-radius: 5pt;
  width: calc(100%-50px);
}

.nav-icon {
  width: 22pt;
}

.nav-element {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10pt;
}

.nav-footer {
  bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logotype > span {
  color: #ff0808;
}
