a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Muszę dwa oddzielne elementy zrobić, bo Micro$oft €dge i Int€rnet €xp£or€r
nie uznają faktu istnienia webkitu*/

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.FIRE {
}
.IN {
}
.THE {
}
.HOLE {
}
