/* wip */

body {
  background-image: url("../Resources/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.window-container {
  background-color: #fcfcfc;
  border-radius: 10pt;
  margin: 10vh 10vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.logo {
  background-color: #ccc;
  border-radius: 10pt;
  margin: 10px;
  display: flex;
}

.logo > img {
  width: 36px;
  margin: 10px;
  align-self: center;
}
